.moviesapp_film {
    display: flex;
    flex-direction: row;
    width: 454px;
    height: auto;
    margin: 0 10px 19px;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); /* Параметры тени */
}

.moviesapp_content {
    padding: 12px 9px 16px 16px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    text-align: left;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_header {
    display: flex;
    justify-content: space-between;
}

.content_body {
    flex-grow: 1;
}

.filmDate {
    color: #827E7E;
}

.ant-rate {
    font-size: 17px;
    margin-right: 0 9px 15px;
}

.content_genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_genre {
    margin: 5px 5px 0 0;
    padding: 0 3px 0 3px;
    border: 1px solid silver;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65)
}