.moviesapp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 19px;
    background: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    max-width: 1300px;
    flex-wrap: wrap;
}







