.wrapper {
    display: flex;
    justify-content: center;
}

.moviesapp {
    display: flex;
    flex-direction: column;
    padding: 19px; 
    justify-content: center;
    width: 1010px;
    position: relative;
    min-height: 1000px;
    background: #FFFFFF;
    display: inline-block;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 95%;
    min-width: 0px;
    max-width: 1300px;
}




